@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
html * {
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@keyframes rainbow {
  0% {
    background-color: #ff4d4d;
  }
  5% {
    background-color: #ff914d;
  }
  10% {
    background-color: #ffc04d;
  }
  15% {
    background-color: #ffeb3b;
  }
  20% {
    background-color: #d4ff4d;
  }
  25% {
    background-color: #90ee90;
  }
  30% {
    background-color: #00e676;
  }
  35% {
    background-color: #00ffc8;
  }
  40% {
    background-color: #00e5ff;
  }
  45% {
    background-color: #2196f3;
  }
  50% {
    background-color: #3f51b5;
  }
  55% {
    background-color: #673ab7;
  }
  60% {
    background-color: #9c27b0;
  }
  65% {
    background-color: #e040fb;
  }
  70% {
    background-color: #f06292;
  }
  75% {
    background-color: #ec407a;
  }
  80% {
    background-color: #ff6f61;
  }
  85% {
    background-color: #f44336;
  }
  90% {
    background-color: #ff4081;
  }
  95% {
    background-color: #ff80ab;
  }
  100% {
    background-color: #ff4d4d;
  }
}
.bold {
  font-weight: bold;
}
.bold * {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}
.bolder * {
  font-weight: bolder;
}

.red {
  color: #f62c13;
}

.invisivel {
  visibility: hidden;
  display: none;
}

.flexrow--c5 {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-direction: row;
}

/*Alternative to Aspect Ratio*/
.ar1-1 {
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.ar1-1 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pn-green {
  background-color: #3aac4a;
  border-color: #3aac4a;
}

.pn-blue {
  background-color: #245ca6;
  border-color: #245ca6;
}

.pn-orange {
  background-color: #e25822;
  border-color: #e25822;
}

.pn-red {
  background-color: #b41e22;
  border-color: #b41e22;
}

.main-menu {
  display: flex;
  -moz-column-gap: 0px;
       column-gap: 0px;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  /*Considerar também o scroll*/
  width: calc(100 * var(--vw, 1vw) - 20px - var(--scroll));
  height: 60px;
  padding: 0 10px;
  background-color: #f62c13;
}
.main-menu .main-menu-item, .main-menu .main-menu-active-item {
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #ac1e0d;
  font-weight: bold;
  flex: 1 1 0;
  width: 0;
  max-width: 150px;
  height: calc(100% - 5px);
  color: white;
}
.main-menu .main-menu-item:hover, .main-menu .main-menu-active-item:hover {
  cursor: pointer;
}
.main-menu .main-menu-item *, .main-menu .main-menu-active-item * {
  font-weight: bold;
}
.main-menu .main-menu-item a, .main-menu .main-menu-active-item a {
  display: block;
  width: calc(100% - 10px);
  height: 100%;
  color: white;
  padding: 0 5px;
  text-align: center;
  align-content: center;
}
.main-menu .main-menu-active-item {
  background-color: white;
  border-color: black;
}
.main-menu .main-menu-active-item a {
  color: black;
}

/*BACKGROUND TRANSPARENTE ESCURO*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 39, 0.878);
  width: calc(100 * var(--vw, 1vw));
  height: calc(100 * var(--vh, 1vh));
}

body {
  margin: 0;
  /*Tamanho da scrollbar*/
  --scroll: calc(100 * var(--vw, 1vw) - 100%);
  width: calc(100 * var(--vw, 1vw) - var(--scroll));
}
body nav#main-menu {
  position: sticky;
  top: 0;
  z-index: 2;
  /*Considerar também o scroll*/
  width: calc(100 * var(--vw, 1vw) - 20px - var(--scroll));
  height: 60px;
  padding: 10px 10px 0 10px;
}
body nav#main-menu a {
  height: 100%;
  font-size: 2rem;
  text-align: center;
}
body div#board-page {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  width: 100%;
}
body div.page-content {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: calc(100% - 20px);
}
body div.page-content div.page--stretch {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
body div.page-content div.page--stretch * {
  text-align: center;
}
body div.page-content div.page--stretch h1,
body div.page-content div.page--stretch p {
  width: 100%;
}

.search-popup {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  top: max(10%, 50% - 250px);
  left: max(5%, 50% - 250px);
  width: 90%;
  max-width: 500px;
  height: 80%;
  max-height: 500px;
  padding: 10px;
  z-index: 3;
  overflow: auto;
  background-color: #8d8c85;
}
.search-popup p:not(.bold-resultado) {
  text-align: center;
  margin: 5px 0 10px 0;
}
.search-popup input#pesquisa_pokemon {
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  padding: 0 8px;
  color: #2a2a27;
  border: 1px solid black;
  /*16 de padding e 2 da borda*/
  width: calc(100% - 18px);
}
.search-popup ul#resultados {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  width: calc(100% - 6px);
  background-color: white;
  overflow: auto;
  margin: 10px 0 0 0;
  padding: 5px 0;
  flex-grow: 1;
}
.search-popup ul#resultados li {
  display: flex;
  -moz-column-gap: 0px;
       column-gap: 0px;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 20px);
  height: 60px;
  padding: 0 10px;
}
.search-popup ul#resultados li img.imagem-poke-lista {
  background-color: white;
  width: 60px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.search-popup ul#resultados li p.bold-resultado {
  padding: 5px 10px;
  font-size: 15px;
  line-height: 20px;
  flex-grow: 1;
  height: calc(100% - 10px);
  align-content: center;
}
.search-popup ul#resultados li p.bold-resultado span.descricao {
  color: #2a2a27;
}
.search-popup ul#resultados li button {
  border-width: 2px;
  border-style: solid;
  border-color: #f62c13;
  border-radius: 5px;
  height: 45px;
  background-color: #f62c13;
}
.search-popup ul#resultados li button:hover {
  cursor: pointer;
}

.special-message-popup {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  top: max(10%, 50% - 250px);
  left: max(5%, 50% - 250px);
  width: 90%;
  max-width: 500px;
  height: 80%;
  max-height: 500px;
  padding: 10px;
  z-index: 3;
  overflow: auto;
  text-align: center;
  align-content: center;
}
.special-message-popup h1 {
  padding: 0 0 10px 0;
}

.button-menu {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  width: 75%;
}
.button-menu * {
  font-weight: bold;
}
.button-menu a {
  width: 100%;
  aspect-ratio: 4/1;
  border-radius: 10px;
  background-color: #f62c13;
  color: white;
  text-align: center;
  align-content: center;
}

@media screen and (orientation: portrait) {
  body div.page-content div.page--stretch,
  body .popup {
    width: calc(100% - 20px);
    left: 10px;
    max-width: none;
  }
}
@media screen and (orientation: portrait) and (min-width: 600px) {
  body div.page-content {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */