@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
html * {
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body div.page--stretch div#previous-games {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}
body div.page--stretch div#previous-games div.previous-game-button {
  display: flex;
  -moz-column-gap: 0px;
       column-gap: 0px;
  flex-direction: row;
  position: relative;
  width: 100%;
  aspect-ratio: 4/1;
  border-radius: 10px;
  background-color: #f62c13;
  overflow: hidden;
}
body div.page--stretch div#previous-games div.previous-game-button a {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  color: white;
}
body div.page--stretch div#previous-games div.previous-game-button .markers {
  display: flex;
  -moz-column-gap: 0px;
       column-gap: 0px;
  flex-direction: row;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 28px;
  height: 100%;
}
body div.page--stretch div#previous-games div.previous-game-button .markers .button-marker {
  width: 7px;
  height: 100%;
}
body div.page--stretch div#previous-games div.previous-game-button.iniciado {
  background-color: #f69e13;
  color: black;
}
body div.page--stretch div#previous-games div.previous-game-button.concluido {
  background-color: #13f62c;
  color: black;
}
body div.page--stretch div#previous-games div.previous-game-button.rainbow {
  animation: rainbow 3s linear 0s infinite normal;
  color: black;
}
body div#board-page {
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
body div#board-page * {
  text-align: center;
}
body div#board-page div#game-resume {
  width: 100%;
  padding: 15px 0 0 0;
  word-break: break-all;
  align-content: center;
}
body div#board-page div#menu {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  height: 22px;
}
body div#board-page div#menu button {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  height: 80%;
  aspect-ratio: 2/1;
  padding: 1px 5px;
  background-color: #eceade;
}
body div#board-page div#menu button:hover {
  cursor: pointer;
}
body div#board-page div#menu div#tentativas,
body div#board-page div#menu div#dicas,
body div#board-page div#menu div#pokenexo-data {
  font-size: 1.2rem;
}
body div#board-page div#menu div#info {
  width: 22px;
  height: 22px;
  font-size: 11px;
  line-height: 11px;
  align-content: center;
}
body div#board-page div#menu div#info:hover {
  cursor: pointer;
}
body div#board-page div.tabuleiro {
  display: grid;
  grid-gap: 2px;
  width: 100%;
}
body div#board-page div.tabuleiro#pokenexo {
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
body div#board-page div.tabuleiro#pokenexo div.celula p.nome-pokemon {
  font-size: clamp(0.42rem, 0.19rem + 1.02 * var(--vw, 1vw), 0.65rem);
  line-height: clamp(0.42rem, 0.19rem + 1.02 * var(--vw, 1vw), 0.65rem);
}
body div#board-page div.tabuleiro .celula {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #f62c13;
  border-radius: 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
  /*CÉLULAS*/
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}
body div#board-page div.tabuleiro .celula:hover {
  cursor: pointer;
}
body div#board-page div.tabuleiro .celula div.container-imagem-poke {
  /*Menos 10 do padding*/
  width: calc(100% - 10px);
  /*Menos 10 do padding*/
  height: calc(75% - 10px);
  padding: 5px;
}
body div#board-page div.tabuleiro .celula div.container-imagem-poke img.imagem-poke-celula {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
body div#board-page div.tabuleiro .celula p.nome-pokemon {
  background-color: #f62c13;
  color: white;
  flex-grow: 1;
  width: calc(100% - 10px);
  padding: 0 5px;
  align-content: center;
  overflow: hidden;
}
body div#board-page div.tabuleiro .pn--selected-cell {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #f62c13;
  border-radius: 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
  /*CÉLULAS*/
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border-color: #69d2ff;
}
body div#board-page div.tabuleiro .pn--selected-cell:hover {
  cursor: pointer;
}
body div#board-page div.tabuleiro .pn--selected-cell p.nome-pokemon {
  color: black;
  background-color: #69d2ff;
}
body div#board-page div.tabuleiro .pn--category, body div#board-page div.tabuleiro .pn--category-4, body div#board-page div.tabuleiro .pn--category-3, body div#board-page div.tabuleiro .pn--category-2, body div#board-page div.tabuleiro .pn--category-1 {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  grid-column-end: span 4;
  padding: 10px;
}
body div#board-page div.tabuleiro .pn--category p, body div#board-page div.tabuleiro .pn--category-4 p, body div#board-page div.tabuleiro .pn--category-3 p, body div#board-page div.tabuleiro .pn--category-2 p, body div#board-page div.tabuleiro .pn--category-1 p {
  color: white;
  align-content: center;
  overflow: hidden;
}
body div#board-page div.tabuleiro .pn--category-1 {
  grid-row-start: 1;
}
body div#board-page div.tabuleiro .pn--category-2 {
  grid-row-start: 2;
}
body div#board-page div.tabuleiro .pn--category-3 {
  grid-row-start: 3;
}
body div#board-page div.tabuleiro .pn--category-4 {
  grid-row-start: 4;
}
body div#board-page div.tabuleiro .pn--category-name {
  font-size: clamp(0.75rem, 0.25rem + 2.2222222222 * var(--vw, 1vw), 1rem);
}
body div#board-page div.tabuleiro .pn--category-pokemon {
  font-size: clamp(0.9rem, 0.2rem + 3.11 * var(--vw, 1vw), 1.25rem);
}

/*Diminuição de bordas e paddings*/
@media screen and (orientation: portrait) {
  body div.page-content div#board-page {
    max-width: none;
  }
}
@media screen and (max-width: 550px) {
  body div#board-page div.tabuleiro div.celula {
    border-width: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
  }
  body div#board-page div.tabuleiro div.celula div.container-imagem-poke {
    width: calc(100% - 2px);
    height: calc(75% - 2px);
    padding: 1px;
  }
  body div#board-page div.tabuleiro div.celula div.container-imagem-poke img.imagem-poke-celula {
    width: 100%;
    height: 100%;
  }
  body div#board-page div.tabuleiro div.celula p.nome-pokemon {
    width: calc(100% - 2px);
    padding: 0 1px;
  }
  body div#board-page div.tabuleiro div.categoria {
    border-width: 1px;
  }
}/*# sourceMappingURL=styles-pokenexo.css.map */