@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
html * {
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body div#main-page div#games {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}
body div#main-page div#games a {
  width: 100%;
  aspect-ratio: 4/1;
  border-radius: 10px;
  background-color: #f62c13;
  color: white;
  text-align: center;
  align-content: center;
}
body div#board-page {
  justify-content: space-around;
  align-items: center;
}
body div#board-page div.tabuleiro {
  display: grid;
  width: 100%;
  padding: 0 0 20px 0;
  aspect-ratio: 1/1;
}
body div#board-page div.tabuleiro#pokedoku-2x2 {
  max-width: 600px;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
body div#board-page div.tabuleiro#pokedoku-2x2 div.celula.celula-header p {
  font-size: clamp(0.85rem, 0.2rem + 2.9 * var(--vw, 1vw), 1.5rem);
}
body div#board-page div.tabuleiro#pokedoku-2x2 div.celula.celula-tentativa p.nome-pokemon {
  font-size: clamp(0.54rem, -0.1rem + 2.83 * var(--vw, 1vw), 1rem);
  line-height: clamp(0.54rem, -0.1rem + 2.83 * var(--vw, 1vw), 1rem);
}
body div#board-page div.tabuleiro#pokedoku-3x3, body div#board-page div.tabuleiro#pokedoku-single {
  max-width: 700px;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /* 0.65rem = 360px MINIMO 1.10rem = 720px IDEAL */
}
body div#board-page div.tabuleiro#pokedoku-3x3 div.celula.celula-header p, body div#board-page div.tabuleiro#pokedoku-single div.celula.celula-header p {
  font-size: clamp(0.65rem, 0.2rem + 2 * var(--vw, 1vw), 1.5rem);
}
body div#board-page div.tabuleiro#pokedoku-3x3 div.celula.celula-tentativa p.nome-pokemon, body div#board-page div.tabuleiro#pokedoku-single div.celula.celula-tentativa p.nome-pokemon {
  font-size: clamp(0.4rem, 0.18rem + 0.98 * var(--vw, 1vw), 0.65rem);
  line-height: clamp(0.4rem, 0.18rem + 0.98 * var(--vw, 1vw), 0.65rem);
}
body div#board-page div.tabuleiro#pokedoku-4x4 {
  max-width: 750px;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
body div#board-page div.tabuleiro#pokedoku-4x4 div.celula.celula-header p {
  /* 0.5rem = 360px MINIMO; 1.75rem = 1440px IDEAL */
  font-size: clamp(0.5rem, 0.08rem + 1.8 * var(--vw, 1vw), 1.2rem);
}
body div#board-page div.tabuleiro#pokedoku-4x4 div.celula.celula-tentativa p.nome-pokemon {
  font-size: clamp(0.3rem, 0.05rem + 1.09 * var(--vw, 1vw), 0.58rem);
  line-height: clamp(0.3rem, 0.05rem + 1.09 * var(--vw, 1vw), 0.58rem);
}
body div#board-page div.tabuleiro div.celula {
  /*CÉLULAS*/
  display: flex;
  row-gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}
body div#board-page div.tabuleiro div.celula.celula-header {
  background-color: #f62c13;
  /*Ancorado em width do div pai: 250px*/
}
body div#board-page div.tabuleiro div.celula.celula-header img,
body div#board-page div.tabuleiro div.celula.celula-header p {
  width: 92%;
  padding: 4%;
}
body div#board-page div.tabuleiro div.celula.celula-header img {
  max-width: 200px;
  max-height: 40px;
}
body div#board-page div.tabuleiro div.celula.celula-header p {
  line-height: 30px;
  height: 60px;
  text-align: center;
  align-content: center;
  overflow: hidden;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa:not(.inativo) :hover {
  cursor: pointer;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa {
  position: relative;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa div.container-imagem-poke {
  /*Menos 10 da margem*/
  width: calc(100% - 10px);
  /*Menos 10 da margem*/
  height: calc(75% - 10px);
  margin: 5px;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa div.container-imagem-poke img.imagem-poke-celula {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa p.nome-pokemon {
  background-color: black;
  color: white;
  height: 25%;
  width: calc(100% - 10px);
  padding: 0 5px;
  text-align: center;
  align-content: center;
  overflow: hidden;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa p.nome-pokemon.rainbow {
  color: black;
  animation: rainbow 3s linear 0s infinite normal;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa p.nome-pokemon.erro {
  color: #f62c13;
}
body div#board-page div.tabuleiro div.celula.celula-tentativa div.dificuldade {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 0 2px 2px;
  border-style: solid;
  font-size: clamp(0.45rem, 0.02rem + 1.9 * var(--vw, 1vw), 1rem);
  width: 20%;
  aspect-ratio: 1/1;
  align-content: center;
  text-align: center;
  background-color: white;
}
body div#board-page div#menu {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
body div#board-page div#menu div#mini-menu {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: calc(100% - 40px);
}
body div#board-page div#menu div#mini-menu button {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  flex: 1 1 0;
  width: 0;
  max-width: 150px;
  height: 45px;
  /*BASEADO NA LINHA (ALTURA = 360PX)*/
  /* 0.4rem = 360px MINIMO; 1rem = 1566px IDEAL - em coluna */
  font-size: clamp(0.4rem, 0.22rem + 0.79 * var(--vw, 1vw), 0.8rem);
  padding: 1px 5px;
  background-color: #eceade;
}
body div#board-page div#menu div#mini-menu button :hover {
  cursor: pointer;
}
body div#board-page div#menu div#mini-menu button #comecar_novo_jogo {
  background-color: black;
  color: white;
}
body div#board-page div#menu div#mini-menu button #modo_dificil {
  background-color: #f62c13;
  color: white;
}
body div#board-page div#menu div#estatisticas {
  display: flex;
  row-gap: 0px;
  flex-direction: column;
  /* 0.8rem = 360px MINIMO; 1rem = 720px IDEAL */
  font-size: clamp(0.8rem, 0.1rem + 2.7 * var(--vw, 1vw), 1.3rem);
  /*Baseado em 20px para 1000w*/
  padding: 0 calc(2 * var(--vw, 1vw));
  text-align: center;
}
body div#board-page div#menu div#estatisticas span {
  font-weight: normal;
}/*# sourceMappingURL=styles-pokedoku.css.map */