//COLORS
$c-pc-green: #3aac4a;
$c-pc-blue: #245ca6;
$c-pc-orange: #e25822;
$c-pc-red: #b41e22;
$c-pc-selected: #69d2ff;

$c-red: #f62c13;
$c-red-d: #ac1e0d;
$c-yellow: #f69e13;
$c-yellow-d: #ac6e0d;
$c-green: #13f62c;
$c-green-d: #0dac1e;
$c-grey: #8d8c85;
$c-grey-d: #2a2a27;
$c-white: #eceade;
$c-black-l: rgb(26, 26, 26);

$c-background: rgba(42, 42, 39, 0.878);

//STYLES
$border-radius: 10px;
$font: Arial, Helvetica, sans-serif;