@use 'variables' as v;
@use 'reset';
@use 'mixins' as m;
@use 'functions' as f;

//This file overwrites previous ones
body {
    div#page-content div#about {
        @include m.inheritance(text-align, center);

        h1 {
            text-decoration: underline v.$c-red;
        }

        ul {
            list-style-type: none;

            li {

                span.icone,
                span.data {

                    display: block;
                    width: 100%;
                }

                span.pokebola {
                    color: v.$c-red;
                }

                span.data {
                    font-weight: bolder;
                }
            }
        }
    }
}