@use 'variables' as v;
@use 'reset';
@use 'mixins' as m;
@use 'functions' as f;

//This file overwrites previous ones

body {

    div#board-page {
        justify-content: space-around;
        align-items: center;

        div.tabuleiro {
            display: grid;

            width: calc(100%);
            padding: 0 0 20px 0;
            aspect-ratio: 1 / 1;

            &#pokedoku-2x2 {
                max-width: 600px;
                grid-template-rows: repeat(3, minmax(0, 1fr));
                grid-template-columns: repeat(3, minmax(0, 1fr));

                div.pd--header-cell p {
                    font-size: clamp(0.85rem, 0.2rem + 2.9 * var(--vw, 1vw), 1.5rem);
                }

                div.pd--try-cell p.nome-pokemon {
                    font-size: clamp(0.54rem, -0.10rem + 2.83 * var(--vw, 1vw), 1rem);
                    line-height: clamp(0.54rem, -0.10rem + 2.83 * var(--vw, 1vw), 1rem);
                }
            }

            &#pokedoku-3x3,
            &#pokedoku-single {
                max-width: 700px;
                grid-template-rows: repeat(4, minmax(0, 1fr));
                grid-template-columns: repeat(4, minmax(0, 1fr));

                /* 0.65rem = 360px MINIMO 1.10rem = 720px IDEAL */
                div.pd--header-cell p {
                    font-size: clamp(0.65rem, 0.2rem + 2 * var(--vw, 1vw), 1.5rem);
                }

                div.pd--try-cell p.nome-pokemon {
                    font-size: clamp(0.4rem, 0.18rem + 0.98 * var(--vw, 1vw), 0.65rem);
                    line-height: clamp(0.4rem, 0.18rem + 0.98 * var(--vw, 1vw), 0.65rem);
                }
            }

            &#pokedoku-4x4 {
                max-width: 750px;
                grid-template-rows: repeat(5, minmax(0, 1fr));
                grid-template-columns: repeat(5, minmax(0, 1fr));

                .pd--header-cell p {
                    /* 0.5rem = 360px MINIMO; 1.75rem = 1440px IDEAL */
                    font-size: clamp(0.5rem, 0.08rem + 1.8 * var(--vw, 1vw), 1.2rem);
                }

                .pd--try-cell p.nome-pokemon {
                    font-size: clamp(0.3rem, 0.05rem + 1.09 * var(--vw, 1vw), 0.58rem);
                    line-height: clamp(0.3rem, 0.05rem + 1.09 * var(--vw, 1vw), 0.58rem);
                }
            }

            .celula {
                @include m.pd--cell;
            }

            .pd--header-cell {
                @include m.pd--cell;
                background-color: v.$c-red;

                img,
                p {
                    width: 92%;
                    padding: 4%;
                }

                img {
                    max-width: 200px;
                    max-height: 40px;
                }

                p {
                    line-height: 30px;
                    height: 60px;
                    text-align: center;
                    align-content: center;
                    overflow: hidden;
                }

            }

            .pd--try-cell:not(.inativo) {
                @include m.hover;
            }

            .pd--try-cell {
                @include m.pd--cell;
                position: relative;

                div.container-imagem-poke {
                    /*Menos 10 da margem*/
                    width: calc(100% - 10px);
                    /*Menos 10 da margem*/
                    height: calc(75% - 10px);
                    margin: 5px;

                    img.imagem-poke-celula {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: contain;
                    }
                }

                p.nome-pokemon {
                    background-color: black;
                    color: white;

                    height: 25%;
                    width: calc(100% - 10px);
                    padding: 0 5px;

                    text-align: center;
                    align-content: center;
                    overflow: hidden;

                    &.rainbow {
                        color: black;
                        animation: rainbow 3s linear 0s infinite normal;
                    }

                    &.erro {
                        color: v.$c-red;
                    }
                }

                div.dificuldade {
                    @include m.pos-absolute(right);
                    @include m.border-create(0 0 2px 2px, solid);
                    font-size: clamp(0.45rem, 0.02rem + 1.9 * var(--vw, 1vw), 1rem);
                    width: 20%;
                    aspect-ratio: 1 / 1;
                    align-content: center;
                    text-align: center;
                    background-color: white;

                }
            }
        }

        div#menu {
            @include m.flex(column, 20px, center, center);

            width: 100%;
            height: 100px;

            div#mini-menu {
                @include m.flex(row, 15px, center, center);

                padding: 0 20px;
                width: calc(100% - 40px);

                button {
                    @include m.border-create(2px, solid, black, v.$border-radius);
                    @include m.hover;
                    flex: 1 1 0;
                    width: 0;
                    max-width: 150px;
                    height: 45px;
                    /*BASEADO NA LINHA (ALTURA = 360PX)*/
                    /* 0.4rem = 360px MINIMO; 1rem = 1566px IDEAL - em coluna */
                    font-size: clamp(0.4rem, 0.22rem + 0.79 * var(--vw, 1vw), 0.8rem);

                    padding: 1px 5px;

                    background-color: v.$c-white;

                    &#comecar_novo_jogo {
                        background-color: black;
                        color: white;
                    }

                    &#modo_dificil {
                        background-color: v.$c-red;
                        color: white;
                    }
                }
            }

            div#estatisticas {
                @include m.flex(column);

                /* 0.8rem = 360px MINIMO; 1rem = 720px IDEAL */
                font-size: clamp(0.8rem, 0.1rem + 2.7 * var(--vw, 1vw), 1.3rem);
                /*Baseado em 20px para 1000w*/
                padding: 0 calc(2 * var(--vw, 1vw));
                text-align: center;

                span {
                    font-weight: normal;
                }
            }
        }
    }
}