@import 'variables';
@import 'reset';
@import 'mixins';

//This file overwrites previous ones
body {
    & div#page-content div#main-page {

        & .section {
            border: 2px solid $c-red;
            margin: 5px 0;
            width: calc(100% - 4px);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &.main-section {
                border-color: $c-yellow;
                & h2 {
                    background-color: $c-yellow;
                    border-color: $c-yellow;
                }
            }
            & h2 {
                text-align: center;
                background-color: $c-red;
                border-color: $c-red;
                border-style: solid;
                border-width: 0 0 2px 0;
            }
            & .content-section {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                padding: 5px 0;
                & .line {
                    padding: 0 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    & p {
                        padding: 0;

                        &.label {
                            text-align: left;
                        }
                        &.value {
                            text-align: right;
                        }
                    }

                }
            }
            & .sub-section {
                & h3 {
                    text-align: center;
                    border-color: $c-red;
                    border-style: solid;
                    border-width: 2px 0;
                }
            }
        }
    }
}