@import 'variables';
@import 'reset';
@import 'mixins';

//This file overwrites previous ones
body {
    & div#page-content div#about {

        & h1 {
            text-align: center;
            text-decoration: underline;
            text-decoration-color: $c-red;
        }

        & h2 {
            text-align: center;
        }

        & p {
            text-align: center;

            &.subtitulo {
            }
        }

        & ul {
            list-style-type: none;

            & li {
                text-align: center;

                & span.icone,
                & span.data {

                    display: block;
                    width: 100%;
                }

                & span.pokebola {
                    color: $c-red;
                }

                & span.data {
                    font-weight: bolder;
                }
            }
        }
    }
}