@use 'variables' as v;
@use 'reset';
@use 'mixins' as m;
@use 'functions' as f;

//ANIMAÇÃO DO RIBBON
@keyframes rainbow {
	0% {
		background-color: #ff4d4d;
	}

	5% {
		background-color: #ff914d;
	}

	10% {
		background-color: #ffc04d;
	}

	15% {
		background-color: #ffeb3b;
	}

	20% {
		background-color: #d4ff4d;
	}

	25% {
		background-color: #90ee90;
	}

	30% {
		background-color: #00e676;
	}

	35% {
		background-color: #00ffc8;
	}

	40% {
		background-color: #00e5ff;
	}

	45% {
		background-color: #2196f3;
	}

	50% {
		background-color: #3f51b5;
	}

	55% {
		background-color: #673ab7;
	}

	60% {
		background-color: #9c27b0;
	}

	65% {
		background-color: #e040fb;
	}

	70% {
		background-color: #f06292;
	}

	75% {
		background-color: #ec407a;
	}

	80% {
		background-color: #ff6f61;
	}

	85% {
		background-color: #f44336;
	}

	90% {
		background-color: #ff4081;
	}

	95% {
		background-color: #ff80ab;
	}

	100% {
		background-color: #ff4d4d;
	}
}

.bold {
	@include m.bold;
}

.bolder {
	@include m.bolder;
}

.red {
	color: v.$c-red;
}

.invisivel {
	visibility: hidden;
	display: none;
}

.flexrow--c5 {
	@include m.flex(row, 5px);
}



/*Alternative to Aspect Ratio*/
.ar1-1 {
	position: relative;
	padding-top: 100%;
	width: 100%;

	>* {
		@include m.pos(absolute, left);
		width: 100%;
		height: 100%;
	}
}


.main-menu {
	@include m.flex(row, $justifyContent: center);
	position: sticky;
	top: 0;
	z-index: 2;
	/*Considerar também o scroll*/
	width: calc(100 * var(--vw, 1vw) - 20px - var(--scroll));
	height: 60px;
	padding: 0 10px;
	background-color: v.$c-red;

	.main-menu-item {
		@include m.border-create(0 0 5px 0, solid, v.$c-red-d);
		@include m.hover;
		@include m.bold;
		flex: 1 1 0;
		width: 0;
		max-width: 150px;
		height: calc(100% - 5px);

		a {
			@include m.centerText();
			display: block;
			width: calc(100% - 10px);
			height: 100%;
			color: white;
			padding: 0 5px;
		}
	}

	.main-menu-active-item {
		@extend .main-menu-item;
		background-color: white;
		border-color: black;

		a {
			color: black;
		}
	}
}

/*BACKGROUND TRANSPARENTE ESCURO*/
.background {
	@include m.pos(fixed, left);
	background-color: v.$c-background;
	width: calc(100 * var(--vw, 1vw));
	height: calc(100 * var(--vh, 1vh));
}





body {
	margin: 0;
	/*Tamanho da scrollbar*/
	--scroll: calc(100 * var(--vw, 1vw) - 100%);
	width: calc(100 * var(--vw, 1vw) - var(--scroll));
}

.page-content {
	@include m.flex(column, $alignItems: center);
	padding: 10px;
	width: calc(100% - 20px);

	.page--stretch {
		@include m.flex(column, $alignItems: center);
		@include m.inheritance(text-align, center);
		width: 100%;
		max-width: 500px;
		padding-bottom: calc(50 * var(--vh, 1vh));

		h1,
		p {
			width: 100%;
		}
	}

	.page--board {
		@include m.flex(column);
		@include m.inheritance(text-align, center);
		@include m.inheritance(width, 100%, true);
		justify-content: space-around;
		align-items: center;
		width: 100%;
		max-width: 520px;
		width: calc(100%);
	}
}

.popup {
	@include m.flex(column);
	@include m.border-create(2px, solid, black, v.$border-radius);
	box-sizing: border-box;
	position: fixed;
	background-color: white;
	top: max(10%, calc(50% - 250px));
	left: max(5%, calc(50% - 250px));
	width: 90%;
	max-width: 500px;
	height: 80%;
	max-height: 500px;
	padding: 10px;
	z-index: 3;
	overflow: auto;
}

.search-popup {
	@extend .popup;
	background-color: v.$c-grey;

	p:not(.bold-resultado) {
		@include m.centerText();
		margin: 5px 0 10px 0;
	}

	input#pesquisa_pokemon {
		height: 30px;
		font-size: 15px;
		line-height: 30px;
		padding: 0 8px;
		color: v.$c-grey-d;
		border: 1px solid black;
		/*16 de padding e 2 da borda*/
		width: calc(100% - 18px);
	}

	ul#resultados {
		@include m.border-create(3px, solid, black, 2px);
		width: calc(100% - 6px);
		background-color: white;
		overflow: auto;
		margin: 10px 0 0 0;
		padding: 5px 0;
		flex-grow: 1;

		li {
			@include m.flex(row, $alignItems: center);
			width: calc(100% - 20px);
			height: 60px;
			padding: 0 10px;

			img {
				background-color: white;
				width: 60px;
				height: 100%;
				object-fit: contain;
			}

			p.bold-resultado {
				padding: 5px 10px;
				font-size: 15px;
				line-height: 20px;
				flex-grow: 1;
				height: calc(100% - 10px);
				align-content: center;

				span.descricao {
					color: v.$c-grey-d;
				}
			}

			button {
				@include m.border-create(2px, solid, v.$c-red, 5px);
				@include m.hover;
				height: 45px;
				background-color: v.$c-red;
			}
		}
	}
}

.special-message-popup {
	@extend .popup;
	@include m.centerText();

	h1 {
		padding: 0 0 10px 0;
	}
}

.button-menu {
	@include m.flex(column, 10px, $justifyContent: center);
	@include m.bold;
	width: 75%;

	a {
		@include m.centerText();
		width: 100%;
		aspect-ratio: 4 / 1;
		border-radius: v.$border-radius;
		background-color: v.$c-red;
		color: white;
	}
}


















@media screen and (orientation: portrait) {

	.page-content .page--board,
	.page-content .page--stretch,
	.page-content .popup {
		max-width: none;
	}

	.page-content .popup {
		width: calc(100% - 20px);
		left: 10px;
	}
}

@media screen and (orientation: portrait) and (min-width: 600px) {
	.page-content {
		width: calc(100% - 40px);
		padding: 0 20px;
	}

	.popup {
		width: calc(100% - 40px);
		left: 20px;
	}
}