@use 'variables' as v;
@use 'reset';
@use 'mixins' as m;
@use 'functions' as f;

.page-content {
    @include m.centerText(true);

    h2 {
        @include m.border-create(0 0 2px 0, solid, v.$c-red);
        background-color: v.$c-red;
    }

    h3 {
        @include m.border-create(2px 0, solid, v.$c-red);
    }

    .stats--section {
        @include m.flex(column);
        @include m.border-create(2px, solid, v.$c-red, v.$border-radius);
        margin: 5px 0;
        width: calc(100% - 4px);
        overflow: hidden;
    }

    .stats--main-section {
        @extend .stats--section;
        border-color: v.$c-yellow;

        h2 {
            @include m.color(v.$c-yellow);
        }
    }

    .stats--sect-content {
        @include m.flex(column, 5px);
        padding: 5px 0;

        .stats--line {
            @include m.flex(row, $justifyContent: space-between);
            padding: 0 5px;

            .stats--label {
                @include m.bold;
                text-align: left;
            }

            .stats--value {
                text-align: right;
            }
        }
    }
}