@import url('styles.css');

/*ESSE ARQUIVO TEM PRECEDENCIA MAIOR*/
body {
    & div.pagina-do-tabuleiro {
        padding: 10px;
        width: calc(100% - 20px);

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & div#menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: calc(100% - 40px);
            max-width: 520px;
            padding: 30px 20px 10px 20px;
            height: clamp(25px, 10px + 4.16 * var(--vw, 1vw), 40px);

            & button {
                width: 75px;
                height: 100%;

                padding: 1px 5px;
                border: 2px solid black;
                border-radius: 10px;

                background-color: var(--branco);

                &:hover {
                    background-color: var(--cinza);
                    cursor: pointer;
                }
            }

            & div#tentativas,
            & div#dicas {

                /* 0.8rem = 360px MINIMO; 1rem = 720px IDEAL */
                font-size: clamp(0.8rem, 0.1rem + 2.7 * var(--vw, 1vw), 1.3rem);
                display: flex;
                flex-direction: column;
                text-align: center;

                & p {
                    margin: 0;
                }

                & span {
                    font-weight: normal;
                }
            }
        }

        & div.tabuleiro {
            display: grid;
            grid-gap: 5px;

            width: calc(100% - 40px);
            padding: 0 20px 20px 20px;
            aspect-ratio: 1 / 1;

            &#pokenexo {
                max-width: 520px;
                grid-template-rows: repeat(4, minmax(0, 1fr));
                grid-template-columns: repeat(4, minmax(0, 1fr));

                & div.celula p.nome-pokemon {
                    font-size: clamp(0.42rem, 0.19rem + 1.02 * var(--vw, 1vw), 0.65rem);
                    line-height: clamp(0.42rem, 0.19rem + 1.02 * var(--vw, 1vw), 0.65rem);
                }
            }

            & div.celula {
                background-color: white;
                border: 2px solid var(--vermelho);
                border-radius: 6px;
                position: relative;
                /*CÉLULAS*/
                display: flex;
                flex-direction: column;
                align-items: center;
                height: calc(100% - 4px);
                width: calc(100% - 4px);

                & div.container-imagem-poke {
                    /*Menos 10 do padding*/
                    width: calc(100% - 10px);
                    /*Menos 10 do padding*/
                    height: calc(75% - 10px);
                    padding: 5px;

                    & img.imagem-poke-celula {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: contain;
                    }
                }

                & p.nome-pokemon {
                    margin: 0;
                    background-color: var(--vermelho);

                    flex-grow: 1;
                    width: calc(100% - 10px);
                    padding: 0 5px;

                    text-align: center;
                    align-content: center;
                    overflow: hidden;
                }

                &:hover {
                    cursor: pointer;
                    border: 2px solid var(--vermelho-escuro);

                    & p.nome-pokemon {
                        color: white;
                        background-color: var(--vermelho-escuro);
                    }
                }

                &.celula-selecionada {
                    border-color: var(--pokenexo-selecionado);

                    & p.nome-pokemon {

                        background-color: var(--pokenexo-selecionado);
                    }
                }
            }

            & div.categoria {
                background-color: var(--vermelho);
                border: 2px solid var(--vermelho);
                border-radius: 6px;
                grid-column-end: span 4;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & p {
                    color: white;
                    text-align: center;
                    align-content: center;
                    overflow: hidden;
                    margin: 0;
                    padding: clamp(4px, -3.58px + 2.1 * var(--vw, 1vw), 8px) 0;
                }

                & p.nome-categoria {
                    font-size: clamp(1rem, 0.052rem + 0.263 * var(--1vw, 1vw), 1.5rem);
                }

                & p.pokemon-categoria {
                    font-size: clamp(0.9rem, 0.71rem + 0.052 * var(--1vw, 1vw), 1rem);
                }

                &.categoria-1 {
                    grid-row-start: 1;
                }

                &.categoria-2 {
                    grid-row-start: 2;
                }

                &.categoria-3 {
                    grid-row-start: 3;
                }

                &.categoria-4 {
                    grid-row-start: 4;
                }

                &.verde {
                    background-color: var(--pokenexo-verde);
                    border-color: var(--pokenexo-verde);
                }

                &.vermelho {
                    background-color: var(--pokenexo-vermelho);
                    border-color: var(--pokenexo-vermelho);
                }

                &.azul {
                    background-color: var(--pokenexo-azul);
                    border-color: var(--pokenexo-azul);
                }

                &.laranja {
                    background-color: var(--pokenexo-laranja);
                    border-color: var(--pokenexo-laranja);
                }
            }
        }
    }
}




/*Diminuição de bordas, fontes, paddings, etc.*/

@media screen and (max-width: 720px) {
    body {
        & div.pagina-do-tabuleiro {
            padding: 10px;
            width: calc(100% - 20px);

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & div#menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                width: calc(100%);
                max-width: 520px;
                padding: 15px 0 10px 0;
                height: clamp(25px, 10px + 4.16 * var(--vw, 1vw), 40px);
            }

            & div.tabuleiro {
                grid-gap: 2px;

                width: calc(100%);
                padding: 0;

                & div.celula {
                    border-width: 1px;
                    border-radius: 3px;
                    /*CÉLULAS*/
                    height: calc(100% - 2px);
                    width: calc(100% - 2px);

                    & div.container-imagem-poke {
                        /*Menos 2 do padding*/
                        width: calc(100% - 2px);
                        /*Menos 2 do padding*/
                        height: calc(75% - 2px);
                        padding: 1px;

                        & img.imagem-poke-celula {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & p.nome-pokemon {
                        width: calc(100% - 2px);
                        padding: 0 1px;
                    }

                    &:hover {
                        border-width: 1px;
                    }
                }

                & div.categoria {
                    border-width: 1px;
                    border-radius: 3px;
                }
            }
        }
    }
}