/*CORES*/
:root {
	--cinza: #8d8c85;
	--cinza-escuro: #2a2a27;
	--vermelho: #f62c13;
	--vermelho-escuro: #931a0b;
	--amarelo: #f6d21b;
	--amarelo-escuro: #ac9312;
	--branco: #eceade;
	--background: #2a2a27e0;
	--preto-claro: rgb(26, 26, 26);
	--vermelho-forte: red;
	--verde: #adf61b;
	--pokenexo-verde: #3aac4a;
	--pokenexo-laranja: #e25822;
	--pokenexo-azul: #245ca6;
	--pokenexo-vermelho: #b41e22;
	--pokenexo-selecionado: #69d2ff;
}

/*bold-font-text*/
.bold-font-text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.font-text {
	font-family: Arial, Helvetica, sans-serif;
}

.bold-text {
	font-weight: bold;
}

.invisivel {
	visibility: hidden;
	display: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
	column-gap: 5px;
}

/* ANIMAÇÃO DO RIBBON */
@keyframes rainbow {
	0% {
		background-color: #ff4d4d;
	}
	5% {
		background-color: #ff914d;
	}
	10% {
		background-color: #ffc04d;
	}
	15% {
		background-color: #ffeb3b;
	}
	20% {
		background-color: #d4ff4d;
	}
	25% {
		background-color: #90ee90;
	}
	30% {
		background-color: #00e676;
	}
	35% {
		background-color: #00ffc8;
	}
	40% {
		background-color: #00e5ff;
	}
	45% {
		background-color: #2196f3;
	}
	50% {
		background-color: #3f51b5;
	}
	55% {
		background-color: #673ab7;
	}
	60% {
		background-color: #9c27b0;
	}
	65% {
		background-color: #e040fb;
	}
	70% {
		background-color: #f06292;
	}
	75% {
		background-color: #ec407a;
	}
	80% {
		background-color: #ff6f61;
	}
	85% {
		background-color: #f44336;
	}
	90% {
		background-color: #ff4081;
	}
	95% {
		background-color: #ff80ab;
	}
	100% {
		background-color: #ff4d4d;
	}
}

body {
	margin: 0;
	/*Tamanho da scrollbar*/
	--scroll: calc(100 * var(--vw, 1vw) - 100%);
	width: calc(100 * var(--vw, 1vw) - var(--scroll));

	/*BACKGROUND TRANSPARENTE ESCURO*/
	& div#background {
		background-color: var(--background);
		position: fixed;
		width: calc(100 * var(--vw, 1vw));
		height: calc(100 * var(--vh, 1vh));
		top: 0;
		left: 0;
	}

	& nav#nav-menu {
		position: sticky;
		top: 0;
		z-index: 2;
		/*Considerar também o scroll*/
		width: calc(100 * var(--vw, 1vw) - 20px - var(--scroll));
		height: 60px;
		padding: 0 10px;
		background-color: var(--vermelho);
		display: flex;
		flex-direction: row;
		justify-content: center;

		& div.nav-item {
			flex: 1 1 0;
			width: 0;
			max-width: 150px;
			height: calc(100% - 5px);
			border-width: 0 0 5px 0;
			border-color: var(--vermelho-escuro);
			border-style: solid;
			color: white;

			& a {
				display: block;
				width: calc(100% - 10px);
				height: 100%;

				color: white;
				padding: 0 5px;

				font-size: clamp(0.4rem, -0.1rem + 2.2 * var(--vw, 1vw), 0.9rem);
				text-decoration: none;
				text-align: center;
				align-content: center;
			}

			&.ativo {
				background-color: white;
				border-color: black;

				& a {
					color: black;
				}
			}

			&:hover {
				cursor: pointer;
				background-color: var(--vermelho-escuro);
				border-color: var(--cinza);

				&.ativo {
					background-color: var(--cinza);
					border-color: black;
				}
			}
		}
	}

	& div#page-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		width: calc(100% - 20px);

		& div#main-page {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			max-width: 500px;

			& h1 {
				text-align: center;
				width: 100%;
				padding: 20px 0;
				margin: 0;
			}
			& p {
				text-align: center;
				width: 100%;
				padding: 20px 0;
				margin: 0;
			}
		}
	}
}

@media screen and (orientation: portrait) {
	body div#page-content {
		& div#main-page {
			width: 100%;
			max-width: none;
		}
	}
}
@media screen and (orientation: portrait) and (min-width: 600px) {
	body div#page-content {
		width: calc(100% - 40px);
		padding: 0 20px;
		& div#main-page {
			width: 100%;
			max-width: none;
		}
	}
}