body {
    & div#page-content div#about {

        & h1 {
            text-align: center;
            text-decoration: underline;
            text-decoration-color: var(--vermelho);
            margin: 0;
        }

        & h2 {
            text-align: center;
            margin: 0;
        }

        & p {
            text-align: center;
            margin: 0;

            &.subtitulo {
            }
        }

        & ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            & li {
                padding: 0;
                text-align: center;

                & span.icone,
                & span.data {

                    display: block;
                    width: 100%;
                }

                & span.pokebola {
                    color: var(--vermelho);
                }

                & span.data {
                    font-weight: bolder;
                }
            }
        }
    }
}