/*ESSE ARQUIVO TEM PRECEDENCIA MAIOR*/
body {
	& div#main-page {
		& div#games {
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: center;
			width: 75%;
			& a {
				width: 100%;
				aspect-ratio: 4 / 1;
				border-radius: 10px;
				background-color: var(--vermelho);
				text-decoration: none;
				color: white;
				text-align: center;
				align-content: center;
			}
		}
	}

	& div#board-page {
		width: calc(100%);

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		& div#menu {
			display: flex;
			flex-direction: row;
			gap: 5px;
			align-items: center;
			justify-content: space-between;

			width: calc(100%);
			max-width: 520px;
			padding: 15px 0 5px 0;
			height: clamp(35px, 16.05px + 5.26 * var(--vw, 1vw), 45px);

			& button {
				height: 80%;
				aspect-ratio: 2 / 1;

				padding: 1px 5px;
				border: 2px solid black;
				border-radius: 10px;

				background-color: var(--branco);

				&:hover {
					cursor: pointer;
				}
			}

			& div#tentativas,
			& div#dicas,
			& div#pokenexo-data {
				font-size: clamp(0.8rem, -0.147rem + 4.21 * var(--vw, 1vw), 1.3rem);
				text-align: center;

				& p {
					margin: 0;
				}
			}
		}

		& div.tabuleiro {
			display: grid;
			grid-gap: 2px;

			width: calc(100%);
			padding: 0;
			aspect-ratio: 1 / 1;

			&#pokenexo {
				max-width: 520px;
				grid-template-rows: repeat(4, minmax(0, 1fr));
				grid-template-columns: repeat(4, minmax(0, 1fr));

				& div.celula p.nome-pokemon {
					font-size: clamp(0.42rem, 0.19rem + 1.02 * var(--vw, 1vw), 0.65rem);
					line-height: clamp(0.42rem, 0.19rem + 1.02 * var(--vw, 1vw), 0.65rem);
				}
			}

			& div.celula {
				background-color: white;
				border: 2px solid var(--vermelho);
				border-radius: 10px;
				position: relative;
				overflow: hidden;
				/*CÉLULAS*/
				display: flex;
				flex-direction: column;
				align-items: center;
				height: calc(100% - 4px);
				width: calc(100% - 4px);

				& div.container-imagem-poke {
					/*Menos 10 do padding*/
					width: calc(100% - 10px);
					/*Menos 10 do padding*/
					height: calc(75% - 10px);
					padding: 5px;

					& img.imagem-poke-celula {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: contain;
					}
				}

				& p.nome-pokemon {
					margin: 0;
					background-color: var(--vermelho);

					flex-grow: 1;
					width: calc(100% - 10px);
					padding: 0 5px;

					text-align: center;
					align-content: center;
					overflow: hidden;
				}

				&:hover {
					cursor: pointer;
				}

				&.celula-selecionada {
					border-color: var(--pokenexo-selecionado);

					& p.nome-pokemon {
						background-color: var(--pokenexo-selecionado);
					}
				}
			}

			& div.categoria {
				background-color: var(--vermelho);
				border: 2px solid var(--vermelho);
				border-radius: 10px;
				grid-column-end: span 4;
				display: flex;
				flex-direction: column;
				justify-content: center;

				& p {
					color: white;
					text-align: center;
					align-content: center;
					overflow: hidden;
					margin: 0;
					padding: clamp(4px, -3.58px + 2.1 * var(--vw, 1vw), 8px) 0;
				}

				& p.nome-categoria {
					font-size: clamp(1rem, 0.052rem + 0.263 * var(--1vw, 1vw), 1.5rem);
				}

				& p.pokemon-categoria {
					font-size: clamp(0.9rem, 0.71rem + 0.052 * var(--1vw, 1vw), 1rem);
				}

				&.categoria-1 {
					grid-row-start: 1;
				}

				&.categoria-2 {
					grid-row-start: 2;
				}

				&.categoria-3 {
					grid-row-start: 3;
				}

				&.categoria-4 {
					grid-row-start: 4;
				}

				&.verde {
					background-color: var(--pokenexo-verde);
					border-color: var(--pokenexo-verde);
				}

				&.vermelho {
					background-color: var(--pokenexo-vermelho);
					border-color: var(--pokenexo-vermelho);
				}

				&.azul {
					background-color: var(--pokenexo-azul);
					border-color: var(--pokenexo-azul);
				}

				&.laranja {
					background-color: var(--pokenexo-laranja);
					border-color: var(--pokenexo-laranja);
				}
			}
		}
	}
}

/*Diminuição de bordas e paddings*/
@media screen and (orientation: portrait) {
	body div#page-content {
		& div#board-page {
			& div#menu, & div#pokenexo {
				max-width: none;
			}
		}
	}
}
@media screen and (max-width: 550px) {
	body {
		& div#board-page {
			& div.tabuleiro {
				& div.celula {
					border-width: 1px;
					height: calc(100% - 2px);
					width: calc(100% - 2px);

					& div.container-imagem-poke {
						width: calc(100% - 2px);
						height: calc(75% - 2px);
						padding: 1px;

						& img.imagem-poke-celula {
							width: 100%;
							height: 100%;
						}
					}

					& p.nome-pokemon {
						width: calc(100% - 2px);
						padding: 0 1px;
					}
				}

				& div.categoria {
					border-width: 1px;
				}
			}
		}
	}
}